<div class="notification-list list-inline-item">
  <a class="nav-link arrow-none waves-effect" href="{{ path('<front>') }}/ms_react/newnotofi" role="button" >
    <i class="mdi mdi-bell-outline noti-icon"></i>
    <span class="badge badge-pill badge-danger noti-icon-badge">{{items}}</span>
  </a>
</div>

